@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-image: url(img/maooo.PNG);
    color: #ffffff;
    font-size: "Montserrat", sans-serif ;
}
.cabecalho{
    background-color: #020A13;
    color: #ffffff;
    font-family:  "Montserrat", sans-serif;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.na:hover{
        background-color: #041525;
        padding: 1rem 1rem 1rem 1rem;
        border-radius: 1rem;
    
}
li{
    list-style: none;
    color: #101616;

}
.cabecalho-menu{
    display: flex;
    gap: 3rem;
    padding: 2rem 2rem 2rem 4rem;
    text-transform: uppercase;
}
.resu{
        color: #395c75;
    font-weight: bold;
}
.titus{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 22px;
}
.tudo{
    display: flex;
    justify-content: space-around;
    font-family: "Montserrat", sans-serif;
}
.colu1{
    flex-direction: column;
}
.soft{
    padding: 2rem 1rem 1rem 0rem;
}
.lang{
    padding: 2rem 1rem 1rem 0rem;
}
.pers{
    padding: 2rem 1rem 1rem 0rem;
}
.soso{
    padding: 2rem 0 0 0 ;
    font-size: 18px;
    font-weight: lighter;
}
.pepe{
    padding: 2rem 0 0 0;
    font-size: 18px;
    font-weight: lighter;
}
.colu2{
    flex-direction: column;
}
.lala{
    padding: 2rem;
    font-size: 18px;
    font-weight: lighter;
}
.colu3{
    flex-direction: column;
}
.exp{
     padding: 2rem 1rem 1rem 0rem;
}
.titis{
    padding: 0rem 0 0 0 ;
    font-size: 18px;
    font-weight: lighter;
}
.itis{
    padding: 2rem 0 0 0 ;
    font-size: 18px;
}
.educ{
    padding: 4rem 1rem 1rem 0rem;
}
.sis{
    padding: 1rem 1rem 0rem 0rem;
}
.what{
    padding: 2rem 1rem 1rem 0rem;
}
.crea{
    padding: 2rem 0 3rem 0;
}