body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: #0056b3;
    margin-bottom: 30px;
}

.linha-borda {
    border-bottom: 3px solid #007bff;
    

    display: inline; 

    padding-bottom: 2px; 
}


.linha-borda-bloco {
    border-bottom: 3px solid #ff0000;
    display: block; 
    margin-bottom: 10px;
    padding-bottom: 5px;
}